@charset "utf-8";
/**
 * Reset CSS
 * author: ZhangHaiBin
 * date:2015-7-13;
 */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
keygen,
legend,
menu,
ol,
p,
pre,
select,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
}
label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
abbr,
fieldset,
img {
  border: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
address,
em,
i,
optgroup {
  font-style: normal;
}
img {
  vertical-align: middle;
}
q:before,
q:after {
  content: '';
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
small {
  font-size: 85.7%;
}
code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
/* HTML 5 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
main,
nav,
section,
summary {
  display: block;
}
html {
  overflow-y: scroll;
}
body {
  color: #333333;
    font: normal 12px/1.4 Verdana, "Lantinghei SC", "Hiragino Sans GB", 'Microsoft YaHei', Helvetica, arial, simsun, sans-serif;
}
input,
button {
  outline: 0;
}
table {
  max-width: 100%;
}
a {
  color: #356558;
  text-decoration: none;
}
a:hover {
  color: #356558;
  text-decoration: underline;
}
.user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.symbol {
  /* 符号字体 */
  font-family: simsun !important;
}
.clear {
  clear: both !important;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.float-none {
  float: none !important;
}
.block {
  display: block !important;
}
.hide {
  display: none !important;
}
.hidden {
  visibility: hidden !important;
}
/* text hide */
.text-hide {
  overflow: hidden;
  text-indent: -999em;
}
.disabled:hover,
.disabled:hover a {
  cursor: default !important;
  cursor: not-allowed !important;
}
.full-block {
  display: block;
  width: 100% !important;
}
/* color */
.light-color {
  /* 浅色 */
  color: #999999 !important;
}
.tip-color {
  /* 提示色 */
  color: #ff5c00 !important;
}
.warn-color {
  /* 警告色 */
  color: #ff0000 !important;
}
.success-color {
  /* 成功色 */
  color: #35b558 !important;
}
.no-radius {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
/* text align */
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
/* mask */
.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 1;
}
/* position */
.static {
  position: static !important;
}
.absolute {
  position: absolute !important;
}
.fixed {
  position: fixed !important;
}
/* control base */
input,
button,
.btn,
select,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input,
button,
.btn,
select,
label {
  vertical-align: middle;
}
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  line-height: normal !important;
  cursor: pointer;
}
.placeholder {
  color: #999999 !important;
}
.error-input,
.error-input:focus,
.error-input:hover {
  background: #ffe8e8 !important;
  border: 1px solid #ef7f7f !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.error-txt {
  color: #ff0000 !important;
}
.success-txt {
  color: #35b558 !important;
}
/* note */
.note {
  color: #666666;
  vertical-align: middle;
}
span.note {
  padding-left: 5px;
}
div.note {
  padding: 4px 0 0;
  line-height: 12px;
}
.note strong {
  padding: 0 5px;
  color: #ff0000;
}
.note b {
  padding: 0 5px;
  color: #333333;
}
/* checkbox & radio */
/* button */
.btn {
  height: 26px;
  padding: 0 15px;
  font-size: 12px;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background-color 0.8s, border-color 0.8s;
  -moz-transition: background-color 0.8s, border-color 0.8s;
  transition: background-color 0.8s, border-color 0.8s;
  background: #eaeaea;
  border-color: #eaeaea;
  color: #666666;
  /* 以下样式针对非 input、button 的其他标签 */
  display: inline-block;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}
.btn .icon {
  margin-right: 5px;
}
.btn:hover {
  background: #eeeeee;
  color: #999999;
}
.btn:active {
  background: #eeeeee;
  color: #999999;
}
.btn:hover {
  text-decoration: none;
}
.btn:not(button) .icon {
  position: relative;
  top: -1px;
}
.btn.disabled,
.btn[disabled],
.btn.disabled:hover,
.btn[disabled]:hover,
.btn.disabled:focus,
.btn[disabled]:focus,
.btn.disabled:active,
.btn[disabled]:active {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  background: #d9dfdf !important;
  border: 1px solid #d9dfdf !important;
  color: #666666 !important;
  cursor: default !important;
  cursor: not-allowed !important;
}
/* button theme */
.btn-def {
  background: #35b558;
  border-color: #35b558;
  color: #ffffff;
}
.btn-def:hover {
  background: #51cc73;
  border-color: #51cc73;
  color: #ffffff;
}
.btn-def:active {
  background: #51cc73;
  border-color: #51cc73;
  color: #ffffff;
}
.btn-primary {
  background: #2d85ca;
  border-color: #2d85ca;
  color: #ffffff;
}
.btn-primary:hover {
  background: #529dd8;
  border-color: #529dd8;
  color: #ffffff;
}
.btn-primary:active {
  background: #529dd8;
  border-color: #529dd8;
  color: #ffffff;
}
.btn-warn {
  background: #ff5c00;
  border-color: #ff5c00;
  color: #ffffff;
}
.btn-warn:hover {
  background: #ff7d33;
  border-color: #ff7d33;
  color: #ffffff;
}
.btn-warn:active {
  background: #ff7d33;
  border-color: #ff7d33;
  color: #ffffff;
}
.btn-urgent {
  background: #d65554;
  border-color: #d65554;
  color: #ffffff;
}
.btn-urgent:hover {
  background: #e07e7d;
  border-color: #e07e7d;
  color: #ffffff;
}
.btn-urgent:active {
  background: #e07e7d;
  border-color: #e07e7d;
  color: #ffffff;
}
/* button height */
.btn.xs {
  /* extra small */
  height: 18px;
  padding: 0 5px;
  font-size: 12px;
  line-height: 16px;
}
.btn.lg {
  /* large */
  height: 30px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 28px;
}
.btn.xl {
  /* extra large */
  height: 42px;
  padding: 0 30px;
  font-size: 16px;
  line-height: 40px;
}
/* button width */
.btn.w-sm {
  width: 110px;
  padding: 0 !important;
}
.btn.w-lg {
  width: 180px;
  padding: 0 !important;
}
.btn.w-xl {
  width: 300px;
  padding: 0 !important;
}
/* button padding */
/* button file */
.txt[disabled],
select[disabled],
textarea[disabled],
.txt[disabled]:hover,
select[disabled]:hover,
textarea[disabled]:hover,
.txt[disabled]:focus,
select[disabled]:focus,
textarea[disabled]:focus,
.txt[disabled]:active,
select[disabled]:active,
textarea[disabled]:active {
  background: #f8f8f8 !important;
  border-color: #f1f1f1 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  cursor: default !important;
  cursor: not-allowed !important;
}
/* input text */
.txt {
  width: 110px;
  height: 26px;
  padding: 5px 5px;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid #e4e4e4;
  border-color: #e4e4e4;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -moz-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.txt[readonly="readonly"],
.txt[readonly="readonly"]:hover,
.txt[readonly="readonly"]:focus {
  border-color: #e4e4e4 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.txt:hover {
  border-color: #a5a5a5;
  -webkit-box-shadow: 0 0 5px #d8d8d8;
  box-shadow: 0 0 5px #d8d8d8;
}
.txt:focus {
  border-color: #35b558;
  -webkit-box-shadow: 0 0 5px #51cc73;
  box-shadow: 0 0 5px #51cc73;
}
/* text radius */
.txt.txt-radius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* text height */
.txt.xl {
  height: 42px;
  padding: 12px 12px;
  font-size: 14px;
  line-height: 18px;
}
/* text width */
.txt.w-lg {
  width: 130px;
}
.txt.w-xl {
  width: 300px;
}
/* tel text */
/* tel height*/
/* txt section */
/* file */
/* select */
/* select height */
/* select width */
/* textarea */
textarea {
  overflow-y: auto;
  padding: 5px;
  border: 1px solid #e4e4e4;
  border-color: #e4e4e4;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -moz-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background: #fff;
  outline: 0;
  vertical-align: top;
  resize: vertical;
}
textarea:hover {
  border-color: #a5a5a5;
  -webkit-box-shadow: 0 0 5px #d8d8d8;
  box-shadow: 0 0 5px #d8d8d8;
}
textarea:focus {
  border-color: #35b558;
  -webkit-box-shadow: 0 0 5px #51cc73;
  box-shadow: 0 0 5px #51cc73;
}
textarea.resize-none {
  resize: none;
}
textarea.resize-h {
  resize: horizontal;
}
textarea.resize-both {
  resize: both;
}
/* arrow */
.arrow {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 0 !important;
  background-image: none;
  font-size: 0 !important;
  line-height: 0 !important;
  vertical-align: middle;
}
.arrow[class*="-solid"],
.arrow > *,
.arrow[class*="-hollow"]:empty:before,
.arrow[class*="-hollow"]:empty:after {
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
}
/* arrow direction */
.arrow[class*="top-"],
.arrow[class*="top-"] > *,
.arrow[class*="top-"]:before,
.arrow[class*="top-"]:after {
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-left-color: transparent !important;
  border-top-width: 0 !important;
}
.arrow[class*="right-"],
.arrow[class*="right-"] > *,
.arrow[class*="right-"]:before,
.arrow[class*="right-"]:after {
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-right-width: 0 !important;
}
.arrow[class*="bottom-"],
.arrow[class*="bottom-"] > *,
.arrow[class*="bottom-"]:before,
.arrow[class*="bottom-"]:after {
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-bottom-width: 0 !important;
}
.arrow[class*="left-"],
.arrow[class*="left-"] > *,
.arrow[class*="left-"]:before,
.arrow[class*="left-"]:after {
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-left-width: 0 !important;
}
/* arrow theme */
.arrow[class*="-solid"] {
  border-style: solid;
  border-width: 10px;
  border-color: #666666;
}
.arrow[class*="-hollow"] > *,
.arrow[class*="-hollow"]:empty:before,
.arrow[class*="-hollow"]:empty:after {
  border-style: solid;
  border-width: 10px;
  border-color: #666666;
  display: block;
}
.arrow[class*="-hollow"]:empty:before,
.arrow[class*="-hollow"]:empty:after {
  content: " ";
}
.arrow[class*="-hollow"] > small,
.arrow[class*="-hollow"]:empty:after {
  position: absolute;
  border-width: 9px;
  border-color: #dfeae2;
}
.arrow.top-hollow:empty:after,
.arrow.left-hollow:empty:after,
.arrow.top-hollow small,
.arrow.left-hollow small {
  top: 1px;
  left: 1px;
}
.arrow.right-hollow:empty:after,
.arrow.bottom-hollow:empty:after,
.arrow.right-hollow small,
.arrow.bottom-hollow small {
  right: 1px;
  bottom: 1px;
}
/* arrow color */
.arrow.white,
.arrow.white:empty:before,
.arrow.white > big {
  border-color: #ffffff;
}
.arrow.muted,
.arrow.muted:empty:before,
.arrow.muted > big {
  border-color: #979797;
}
.arrow.danger,
.arrow.danger:empty:before,
.arrow.danger > big {
  border-color: #f86363;
}
/* arrow size */
.arrow.xs,
.arrow.xs > *,
.arrow.xs:empty:before {
  border-width: 6px;
}
.arrow.xs > small,
.arrow.xs:empty:after {
  border-width: 5px;
}
.arrow.sm,
.arrow.sm > *,
.arrow.sm:empty:before {
  border-width: 8px;
}
.arrow.sm > small,
.arrow.sm:empty:after {
  border-width: 7px;
}
.arrow.lg,
.arrow.lg > *,
.arrow.lg:empty:before {
  border-width: 12px;
}
.arrow.lg > small,
.arrow.lg:empty:after {
  border-width: 11px;
}
.arrow.xl,
.arrow.xl > *,
.arrow.xl:empty:before {
  border-width: 14px;
}
.arrow.xl > small,
.arrow.xl:empty:after {
  border-width: 13px;
}
/* icon */
.icon,
.grade .star {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}
/* font icon */
.f-icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.icon-14x14,
.icon-tips,
.icon-video {
  width: 14px;
  height: 14px;
}
.icon-tips {
  background-position: 0 0;
}
.icon-video {
  background-position: -34px 0;
}
.icon-letter {
  width: 20px;
  height: 14px;
  background-position: -14px 0;
}
.icon-20x20,
.icon-play,
.icon-upload,
.icon-yuan,
.icon-clock,
.icon-money,
.icon-diamond,
.icon-dv,
.icon-ranking,
.icon-help {
  width: 20px;
  height: 20px;
}
.icon-play {
  background-position: 0 -15px;
}
.icon-play.disabled,
.lesson-card .link-wrap .btn.disabled .icon-play {
  background-position: 0 -35px;
}
.icon-upload {
  background-position: -20px -15px;
}
.icon-upload.disabled {
  background-position: -20px -35px;
}
.icon-yuan {
  background-position: -40px -15px;
}
.icon-clock {
  background-position: -60px -15px;
}
.icon-money {
  background-position: -80px -15px;
}
.icon-diamond {
  background-position: -100px -15px;
}
.icon-dv {
  background-position: -120px -15px;
}
.icon-ranking {
  background-position: -140px -15px;
}
.icon-help {
  background-position: -40px -35px;
}
.icon-24x24,
.icon-star-silver,
.icon-star-gold,
.grade .star,
.grade.one .star:first-of-type,
.grade.two .star:first-of-type,
.grade.two .star:nth-of-type(2),
.grade.three .star {
  width: 24px;
  height: 24px;
}
.icon-star-silver,
.grade .star {
  background-position: -24px -55px;
}
.icon-star-gold,
.grade.one .star:first-of-type,
.grade.two .star:first-of-type,
.grade.two .star:nth-of-type(2),
.grade.three .star {
  background-position: 0 -55px;
}
.icon-42x36,
.icon-tag-right,
.icon-tag-error,
.task-card.finish .tag,
.task-card.failed .tag,
.task-card.failed .tag {
  width: 42px;
  height: 36px;
}
.icon-tag-right,
.task-card.finish .tag,
.task-card.failed .tag {
  background-position: 0 -80px;
}
.icon-tag-error,
.task-card.failed .tag {
  background-position: -42px -80px;
}
.icon-56x56,
.icon-lock {
  width: 56px;
  height: 56px;
}
.icon-lock {
  background-position: 0 -116px;
}
.tab > .tabs ul:after {
  display: table;
  clear: both;
  content: " ";
}
.tab > .tabs li {
  float: left;
  cursor: pointer;
}
.tab > .tabbed > .tab-group {
  display: none;
}
/* form */
.form .legend {
  display: block;
  width: 100%;
}
.form .form-group:after,
.form .form-item:after {
  display: table;
  clear: both;
  content: " ";
}
.form .form-item {
  margin: 0 0 20px 0;
}
.form .form-label {
  float: left;
  width: 80px;
  color: #000000;
  font-size: 14px;
  line-height: 42px;
  text-align: right;
}
.form .form-label em {
  margin: 0 5px;
  color: #ff0000;
  font-family: simsun;
}
.form .form-cont {
  margin-left: 90px;
  line-height: 42px;
}
.form .form-cont:after {
  display: table;
  clear: both;
  content: " ";
}
.form .form-cont > label {
  margin-right: 20px;
}
.form .form-cont > label > input[type="checkbox"],
.form .form-cont > label > input[type="radio"] {
  position: relative;
  top: -1px;
  margin-right: 5px;
}
.form .form-cont > .txt,
.form .form-cont > .btn,
.form .form-cont > .txt-tel,
.form .form-cont > .txt-section,
.form .form-cont > .select,
.form .form-cont > select {
  margin-right: 10px;
}
.form .form-cont > input[type="checkbox"],
.form .form-cont > input[type="radio"] {
  margin-right: 5px;
}
/* form-inline */
.form.form-inline .form-item {
  display: inline-block;
  margin: 0 10px 15px 0;
  vertical-align: top;
}
/* form-lable-auto */
.form.form-lable-auto .form-label {
  float: left;
  margin-right: 10px;
  width: auto;
}
.form.form-lable-auto .form-cont {
  float: left;
  margin-left: 0;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  border: 1px solid #d2d2d2;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  border: 1px solid #d2d2d2;
  border-width: 1px 1px 0 1px;
  line-height: 20px;
  vertical-align: middle;
}
.table > thead > tr > th {
  background-color: #f5f5f5;
  border-top: 0;
}
table th,
table td {
  background: #fff;
  text-align: center;
}
/* table theme */
.table-line > thead > tr > th,
.table-line > tbody > tr > th,
.table-line > tfoot > tr > th,
.table-line > thead > tr > td,
.table-line > tbody > tr > td,
.table-line > tfoot > tr > td {
  border-width: 1px 0 0 0;
}
/* noborder */
.noborder {
  border: 0 !important;
}
/* interleave */
.interleave-odd > tr:nth-child(odd) > th,
.interleave-odd > tr:nth-child(odd) > td {
  background-color: #f5f5f5;
}
.interleave-even > tr:nth-child(even) > th,
.interleave-even > tr:nth-child(even) > td {
  background-color: #f5f5f5;
}
/* hover */
table > .hover > tr:hover > th,
table > .hover > tr:hover > td {
  background-color: #f5f5f5;
}
/* align */
table.table-left > thead > tr > th,
table.table-left > thead > tr > td,
table.table-left > tbody > tr > th,
table.table-left > tbody > tr > td,
table.table-left > tfoot > tr > th,
table.table-left > tfoot > tr > td,
table > thead > .table-left > th,
table > thead > .table-left > td,
table > tbody > .table-left > th,
table > tbody > .table-left > td,
table > tfoot > .table-left > th,
table > tfoot > .table-left > td,
table > thead > tr > .table-left,
table > tbody > tr > .table-left,
table > tfoot > tr > .table-left {
  text-align: left;
}
table.table-right > thead > tr > th,
table.table-right > thead > tr > td,
table.table-right > tbody > tr > th,
table.table-right > tbody > tr > td,
table.table-right > tfoot > tr > th,
table.table-right > tfoot > tr > td,
table > thead > .table-right > th,
table > thead > .table-right > td,
table > tbody > .table-right > th,
table > tbody > .table-right > td,
table > tfoot > .table-right > th,
table > tfoot > .table-right > td,
table > thead > tr > .table-right,
table > tbody > tr > .table-right,
table > tfoot > tr > .table-right {
  text-align: right;
}
table.table-center > thead > tr > th,
table.table-center > thead > tr > td,
table.table-center > tbody > tr > th,
table.table-center > tbody > tr > td,
table.table-center > tfoot > tr > th,
table.table-center > tfoot > tr > td {
  text-align: center;
}
/* table status */
.table > thead > .danger > th,
.table > tbody > .danger > th,
.table > tfoot > .danger > th,
.table > thead > .danger > td,
.table > tbody > .danger > td,
.table > tfoot > .danger > td {
  background-color: #f2dede !important;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 990;
  display: none;
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
}
.popup:after {
  display: table;
  clear: both;
  content: " ";
}
.popup .close,
.tips .tips-close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background: url("../images/close.png") no-repeat center center / 14px 14px;
}
.popup > .inner,
.popup > .wrap {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  background: #fff;
}
.popup .hd {
  height: 40px;
  padding: 0 30px 0 8px;
  background: #f3f3f3;
  line-height: 40px;
  cursor: default ;
}
.popup .hd h2 {
  color: #666;
  font-size: 16px;
  font-weight: normal;
}
.popup .btn-wrap {
  padding: 10px 0;
  text-align: center;
}
.popup.popup-primary .hd {
  background: #f3f3f3;
}
.popup.popup-info .hd {
  background: none;
}
.popup-tips {
  font-size: 14px;
}
.popup-tips .wrap {
  width: 100%;
  min-width: 100%;
}
.popup-tips .wrap h3 {
  padding: 0 10px;
}
.popup-tips ul {
  padding: 15px;
}
.popup-tips li {
  line-height: 1.8em;
  background: url("../images/dot.png") center left no-repeat;
  padding-left: 15px;
}
.popup-taskbox .shangchuan {
  padding: 20px;
}
.popup-taskbox .shangchuan .sc-btn {
  position: relative;
  width: 80px;
  height: 30px;
  margin-right: 10px;
  line-height: 28px;
}
.popup-taskbox .shangchuan .sc-btn input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0 !important;
  height: 0 !important;
  line-height: 0 !important;
}
.popup-taskbox .shangchuan .sc-txt {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 480px;
  font-size: 14px;
  color: #666;
  vertical-align: middle;
}
.popup-taskbox .shangchuan .sc-textarea {
  position: relative;
}
.popup-taskbox .shangchuan .sc-textarea .note {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 4px;
}
.popup-taskbox .shangchuan textarea {
  margin-top: 10px;
  width: 100%;
  height: 110px;
  padding: 10px;
}
.popup-taskbox .shangchuan .buttonbox {
  margin-top: 10px;
  text-align: right;
}
.popup-taskbox .shangchuan .buttonbox button {
  width: 80px;
  height: 30px;
  font-size: 16px;
}
.popup-tuifei .money-checkbox {
  padding: 20px;
}
.popup-tuifei .money-checkbox ul li {
  margin-bottom: 10px;
}
.popup-tuifei .money-checkbox ul li .checkbox {
  width: 15px;
  height: 15px;
  border: none;
  border: 1px solid #E4E4E4;
  margin-right: 10px;
}
.popup-tuifei .money-checkbox ul li span {
  font-size: 12px;
  color: #333;
}
.popup-tuifei .money-checkbox textarea {
  width: 100%;
  height: 75px;
  padding: 10px;
}
.popup-tuifei .money-checkbox .buttonbox {
  margin-top: 10px;
  text-align: right;
}
.popup-tuifei .money-checkbox .buttonbox button {
  height: 30px;
  font-size: 16px;
}
.popup-shenpi .teacher-video {
  min-height: 344px;
  padding: 20px;
}
.popup-shenpi .teacher-video .videobox {
  position: relative;
  background: #000;
  height: 344px;
  width: 100%;
}
.popup-shenpi .teacher-video .teacher-comments {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
  height: 76px;
  overflow-y: auto;
}
.popup-tasktips .teacher-video .teacher-comments {
  height: 344px;
}
.tooltip {
  position: absolute;
  z-index: 500;
}
.tooltip .inner {
  width: auto;
  padding: 8px;
  background: #fff;
  border: 1px solid #d2d2d2;
}
.tooltip .hd {
  margin-bottom: 8px;
  padding: 0 5px 8px;
  border-bottom: 1px solid #d2d2d2;
}
.tooltip .arrow {
  position: absolute;
}
.tooltip[class*="guide-t"] .arrow {
  margin-top: -7px;
  margin-left: -8px;
}
.tooltip[class*="guide-t"] .arrow > *,
.tooltip[class*="guide-t"] .arrow:empty:before,
.tooltip[class*="guide-t"] .arrow:empty:after {
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-left-color: transparent !important;
  border-top-width: 0 !important;
  border-width: 8px;
  border-color: #d2d2d2;
}
.tooltip[class*="guide-t"] .arrow > small,
.tooltip[class*="guide-t"] .arrow:empty:after {
  position: absolute;
  border-width: 7px;
  border-color: #ffffff;
  top: 1px;
  left: 1px;
}
.tooltip[class*="guide-r"] .arrow {
  right: 0;
  margin-top: -8px;
  margin-right: -7px;
}
.tooltip[class*="guide-r"] .arrow > *,
.tooltip[class*="guide-r"] .arrow:empty:before,
.tooltip[class*="guide-r"] .arrow:empty:after {
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-right-width: 0 !important;
  border-width: 8px;
  border-color: #d2d2d2;
}
.tooltip[class*="guide-r"] .arrow > small,
.tooltip[class*="guide-r"] .arrow:empty:after {
  position: absolute;
  border-width: 7px;
  border-color: #ffffff;
  right: 1px;
  bottom: 1px;
}
.tooltip[class*="guide-b"] .arrow {
  bottom: 0;
  margin-bottom: -7px;
  margin-left: -8px;
}
.tooltip[class*="guide-b"] .arrow > *,
.tooltip[class*="guide-b"] .arrow:empty:before,
.tooltip[class*="guide-b"] .arrow:empty:after {
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-bottom-width: 0 !important;
  border-width: 8px;
  border-color: #d2d2d2;
}
.tooltip[class*="guide-b"] .arrow > small,
.tooltip[class*="guide-b"] .arrow:empty:after {
  position: absolute;
  border-width: 7px;
  border-color: #ffffff;
  right: 1px;
  bottom: 1px;
}
.tooltip[class*="guide-l"] .arrow {
  left: 0;
  margin-top: -8px;
  margin-left: -7px;
}
.tooltip[class*="guide-l"] .arrow > *,
.tooltip[class*="guide-l"] .arrow:empty:before,
.tooltip[class*="guide-l"] .arrow:empty:after {
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-left-width: 0 !important;
  border-width: 8px;
  border-color: #d2d2d2;
}
.tooltip[class*="guide-l"] .arrow > small,
.tooltip[class*="guide-l"] .arrow:empty:after {
  position: absolute;
  border-width: 7px;
  border-color: #ffffff;
  top: 1px;
  left: 1px;
}
.tooltip.guide-tl .arrow,
.tooltip.guide-bl .arrow {
  /* top left & bottom left */
  left: 20%;
}
.tooltip.guide-tc .arrow,
.tooltip.guide-bc .arrow {
  /* top center & bottom center */
  left: 50%;
}
.tooltip.guide-tr .arrow,
.tooltip.guide-br .arrow {
  /* top right & bottom right */
  left: 80%;
}
.tooltip.guide-rt .arrow,
.tooltip.guide-lt .arrow {
  /* right top & left top */
  top: 25%;
}
.tooltip.guide-rm .arrow,
.tooltip.guide-lm .arrow {
  /* right middle & left middle */
  top: 50%;
}
.tooltip.guide-rb .arrow,
.tooltip.guide-lb .arrow {
  /* right bottom & left bottom */
  top: 75%;
}
#header {
  width: 1000px;
  min-height: 70px;
  margin: 0 auto;
  padding: 10px;
}
#header .logo {
  float: left;
  width: 113px;
  margin-top: 5px;
}
#header .loginbox_event {
  float: right;
  display: inline-block;
  color: #333;
  text-align: right;
  line-height: 50px;
  font-size: 12px;
}
#header .loginbox_event i.tag-icon {
  float: left;
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 14px 10px 0 0;
  background: url(../images/icon.png) 0 -22px no-repeat;
}
#header .loginbox_event em {
  padding: 0 5px;
}
#header .loginbox_event .user-name,
#header .loginbox_event span {
  display: inline-block;
  cursor: pointer;
}
#header .loginbox_event .user-name .vip-icon img {
  width: 40px;
  height: 15px;
  margin-right: 5px;
}
#header .loginbox_event .user-name p img {
  width: 10px;
  height: 6px;
  margin-left: 5px;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  -moz-transition: -moz-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
}
#header .loginbox_event span a,
#header .loginbox_event span a:hover {
  color: #333333;
}
#header .loginbox_event .sj-icon {
  top: -7px;
  left: 50%;
  width: 13px;
  height: 7px;
  margin-left: -6.5px;
}
#header .loginbox_event .user-center {
  display: none;
  position: absolute;
  top: 40px;
  left: 50%;
  z-index: 2200;
  width: 110px;
  margin-left: -65px;
  padding: 10px 0;
  background: #333;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
#header .loginbox_event .user-center a {
  display: block;
  height: 26px;
  color: #ddd;
  line-height: 26px;
  font-size: 12px;
}
#header .loginbox_event .user-center a:hover {
  background-color: #444;
}
#login-user {
  color: #35b558;
}
.lesson-header {
  background-color: #232b2d;
}
.lesson-header #header {
  position: relative;
}
.lesson-header #header .loginbox_event {
  color: #fff;
}
.lesson-header #header .loginbox_event span a,
.lesson-header #header .loginbox_event span a:hover {
  color: #fff;
}
.lesson-header .navdis {
  position: absolute;
  left: 165px;
  top: 0;
}
.lesson-header .navdis li {
  float: left;
  height: 70px;
  font-size: 14px;
  line-height: 70px;
  padding: 0 27px;
  color: #fff;
  cursor: pointer;
}
.lesson-header .navdis li.active {
  background-color: #2c3638 ;
}
#loading {
  overflow: hidden;
  width: 100%;
  height: 2px;
  background: #f3f3f3;
}
#loading .loading-length {
  width: 100%;
  height: 2px;
  overflow: hidden;
  background: #35B558;
  background-image: -webkit-linear-gradient(10deg, #35b558 14%, #8aca8c 50%, #2d85ca 100%);
  background-image: -moz-linear-gradient(10deg, #35b558 14%, #8aca8c 50%, #2d85ca 100%);
  background-image: -ms-linear-gradient(10deg, #35b558 14%, #8aca8c 50%, #2d85ca 100%);
  background-image: linear-gradient(10deg, #35b558 14%, #8aca8c 50%, #2d85ca 100%);
}
#user-nav {
  float: right;
  margin: 15px 12px 0 0;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}
#user-nav a {
  color: #fff;
  text-decoration: none;
}
#user-nav .login {
  float: left;
}
#user-nav .login a {
  margin: 0 4px;
}
#user-nav .login a:hover {
  color: #35b558;
}
#user-nav .letter {
  position: relative;
  float: left;
  margin-right: 15px;
}
#user-nav .letter.more .num {
  line-height: 10px;
}
#user-nav .letter .num {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  margin: -6px -8px 0 0;
  background-color: #d65554;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 16px;
}
#user-menu {
  position: relative;
  float: left;
}
#user-menu .user-name {
  position: relative;
  z-index: 20;
  line-height: 20px;
  cursor: pointer;
}
#user-menu .user-name .arrow {
  margin-left: 4px;
  -webkit-transition: transform 0.2s linear;
  -moz-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
}
#user-menu .user-name .pic {
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -1px 5px 0 0;
  bottom: 1px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  vertical-align: middle;
}
#user-menu .user-name .pic img {
  width: 100%;
  height: 100%;
}
#user-menu .user-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  display: none;
  min-width: 80px;
  margin-top: 6px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
#user-menu .user-menu:before {
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  height: 10px;
  display: block;
  content: " ";
}
#user-menu .user-menu > .arrow {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
}
#user-menu .user-menu ul {
  padding: 5px 0;
}
#user-menu .user-menu li {
  margin: 5px 0;
  line-height: 20px;
}
#user-menu .user-menu a {
  display: block;
  padding: 0 10px;
  color: #333;
}
#user-menu .user-menu a:hover {
  color: #35b558;
  background-color: #f3f3f3;
  text-decoration: none;
}
#user-menu:hover .user-name .arrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
#user-menu:hover .user-menu {
  display: block;
}
#footer {
  min-width: 1000px;
  text-align: center;
  color: #999;
  padding: 50px 0;
}
#footer strong {
  font-weight: normal;
}
#footer a {
  color: #999;
}
#footer a:hover {
  color: #35B558;
}
.progress {
  position: relative;
}
.progress.progress-learn {
  height: 97px;
  padding-top: 39px;
}
.progress.progress-learn.prepaid .progress-bar {
  background-color: transparent;
}
.progress.progress-learn .progress-bar,
.progress.progress-learn .progress-fast,
.progress.progress-learn .progress-plan,
.progress.progress-learn .progress-now {
  position: absolute;
  height: 6px;
  margin: -1px 0;
  background-color: #e7ebeb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.progress.progress-learn .progress-bar {
  position: relative;
  margin: 0;
  border: 1px solid #e7ebeb;
}
.progress.progress-learn .dot {
  position: absolute;
  left: 100%;
  top: -50%;
  z-index: 30;
  margin-top: -1px;
  margin-left: -7px;
  width: 14px;
  height: 14px;
  background-color: #99ebff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}
.progress.progress-learn .progress-fast {
  background-color: #99ebff;
}
.progress.progress-learn .progress-fast .arrow {
  border-color: #d9dfdf;
}
.progress.progress-learn .progress-plan {
  background-color: #85db9d;
}
.progress.progress-learn .progress-plan .dot {
  background-color: #85db9d;
}
.progress.progress-learn .progress-plan .inner {
  background-color: #d9dfdf;
}
.progress.progress-learn .progress-plan .arrow {
  border-color: #d9dfdf;
}
.progress.progress-learn .progress-now {
  background-color: #35b558;
}
.progress.progress-learn .progress-now .dot {
  background-color: #35b558;
}
.progress.progress-learn .progress-now .inner {
  background-color: #4c4c4c;
  color: #fff;
}
.progress.progress-learn .progress-now .arrow {
  border-color: #4c4c4c;
}
.progress.progress-learn .progress-mark {
  position: absolute;
  left: 0;
  top: 46px;
  z-index: 20;
  width: 100%;
}
.progress.progress-learn .progress-mark li {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  margin-left: -10px;
  padding-top: 8px;
  text-align: center;
  color: #bbb;
}
.progress.progress-learn .progress-mark li:before {
  position: absolute;
  top: 0;
  left: 49.5%;
  width: 1px;
  height: 7px;
  background-color: #bbb;
  content: " ";
}
.progress.progress-learn .progress-mark li:nth-of-type(2) {
  left: 25%;
}
.progress.progress-learn .progress-mark li:nth-of-type(3) {
  left: 50%;
}
.progress.progress-learn .progress-mark li:nth-of-type(4) {
  left: 75%;
}
.progress.progress-learn .progress-mark li:last-of-type {
  left: 100%;
}
.progress.progress-learn .pay-tips {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #666;
  font-size: 12px;
  white-space: nowrap;
}
.progress.progress-learn .pay-tips a {
  color: #d65554;
}
.progress.progress-learn .tooltip {
  right: 0;
  bottom: 100%;
  display: none;
  margin-right: -50px;
  margin-bottom: 13px;
  text-align: center;
  line-height: 18px;
}
.progress.progress-learn .inner {
  min-width: 100px;
  height: 18px;
  padding: 0;
  background-color: #d9dfdf;
  border: 0 none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  color: #666;
}
.progress.progress-learn .arrow {
  margin-left: -6px;
  margin-bottom: -6px;
}
.progress.progress-learn .tooltip-repay {
  top: 40px;
}
.progress.progress-learn .tooltip-repay .inner {
  background-color: #ff8d4c;
  color: #fff;
}
.progress.progress-learn .tooltip-repay a {
  color: #fff;
}
.progress.progress-learn .tooltip-repay .arrow {
  margin-top: -6px;
  margin-bottom: auto;
  border-color: #ff8d4c;
}
.lesson-card {
  background: #ffffff url("../images/line-img2.jpg") repeat-y 750px 0;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.lesson-card > .layout-inner {
  margin-right: 250px;
}
.lesson-card .lc-main {
  float: left;
  width: 100%;
  padding: 20px 15px;
}
.lesson-card .lc-main .hd {
  margin-bottom: 18px;
  line-height: 22px;
}
.lesson-card .lc-main .hd h2 {
  float: left;
  font-size: 18px;
  font-weight: normal;
}
.lesson-card .lc-main .hd > span {
  float: right;
  color: #808080;
  font-size: 12px;
}
.lesson-card .link-wrap {
  margin-bottom: 20px;
}
.lesson-card .link-wrap .btn {
  float: left;
  margin-right: 10px;
}
.lesson-card .overview {
  margin-bottom: 18px;
}
.lesson-card .overview > .layout-inner {
  margin-left: 255px;
}
.lesson-card .overview .overview-img {
  position: relative;
  float: left;
  width: 240px;
  height: 135px;
  margin-left: -255px;
  background-color: #000;
}
.lesson-card .overview .overview-img img {
  width: 100%;
  height: 100%;
}
.lesson-card .overview .overview-img .text {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
}
.lesson-card .overview .overview-content {
  float: right;
  width: 100%;
  color: #808080;
  line-height: 20px;
}
.lesson-card .overview h3 {
  margin-bottom: 28px;
  color: #333;
  font-size: 16px;
  font-weight: normal;
}
.lesson-card .overview .content-wrap {
  color: #666;
}
.lesson-card .overview .content-wrap > span {
  float: left;
}
.lesson-card .overview .content-wrap > span:last-of-type {
  float: right;
}
.lesson-card .overview .content-wrap > span .icon {
  position: relative;
  top: -1px;
  margin-right: 4px;
}
.lesson-card .lc-aside,
.learn-tips {
  float: right;
  width: 250px;
  margin-right: -250px;
  padding: 20px 15px;
}
.lesson-card .lc-aside > h2,
.learn-tips > h2 {
  margin-bottom: 10px;
  color: #333;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
}
.lesson-card .lc-aside > h2 > .icon,
.learn-tips > h2 > .icon {
  position: relative;
  top: -1px;
  margin-right: 8px;
}
.lesson-card .lc-aside > h2 .tips,
.learn-tips > h2 .tips {
  margin-left: 5px;
  font-size: 12px;
}
.lesson-card .lc-aside > h2 .tooltip,
.learn-tips > h2 .tooltip {
  width: 200px;
  margin-left: -93px;
}
.lesson-card .lc-aside > h2 .tooltip .arrow > *,
.learn-tips > h2 .tooltip .arrow > *,
.lesson-card .lc-aside > h2 .tooltip .arrow:empty:before,
.learn-tips > h2 .tooltip .arrow:empty:before {
  border-color: #eeeeee;
}
.lesson-card .lc-aside > h2 .tooltip .arrow > small,
.learn-tips > h2 .tooltip .arrow > small,
.lesson-card .lc-aside > h2 .tooltip .arrow:empty:after,
.learn-tips > h2 .tooltip .arrow:empty:after {
  border-color: #f5f5f5;
}
.lesson-card .lc-aside .money,
.learn-tips .money {
  padding-left: 30px;
  color: #d65554;
  font-size: 18px;
}
.learn-tips {
  float: none;
}
.tips {
  position: relative;
}
.tips .tips-close {
  top: 9px;
  right: 5px;
}
.tips.tips-notice {
  height: 40px;
  background-color: #e8ecec;
  border: 1px solid #d9dfdf;
  color: #8a9fa4;
  font-size: 14px;
  text-align: center;
  line-height: 28px;
}
.tips.tips-notice .inner {
  padding: 5px 24px 5px 10px;
}
.tips.tips-help {
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  display: inline-block;
}
.tips.tips-help .icon {
  position: relative;
  top: -1px;
  cursor: pointer;
}
.tips.tips-help .tooltip {
  display: none;
  color: #808080;
  line-height: 18px;
}
.tips.tips-help .tooltip .inner {
  background: #f5f5f5;
  border: 1px solid #eee;
}
.tips.tips-help:hover .tooltip {
  display: block;
}
.tips.tips-help.guide-bottom .tooltip {
  bottom: 100%;
  margin-bottom: 4px;
}
.task-card {
  position: relative;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.task-card .mask {
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.task-card .mask .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 41;
  margin: -28px 0 0 -28px;
}
.task-card .mask .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 41;
  margin: -15px 0 0 -55px;
}
.task-card .tag {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 30;
}
.task-card .hd {
  padding: 0 15px;
  background-color: #f2f4f4;
  border-bottom: 1px solid #ddd;
  color: #333;
  font-size: 14px;
  line-height: 34px;
}
.task-card .hd h3 {
  height: 34px;
  font-weight: bold;
}
.task-card .hd span {
  color: #d65554;
  font-weight: normal;
}
.task-card .bd {
  position: relative;
  z-index: 20;
  height: 151px;
  padding: 15px 15px 0;
  color: #666;
  font-size: 12px;
  line-height: 16px;
  word-break: break-all;
}
.task-card .bd .text {
  overflow: hidden;
  height: 48px;
  margin-bottom: 8px;
}
.task-card .bd .grade-text {
  height: 42px;
  margin-bottom: 3px;
  font: 36px/42px arial;
  text-align: center;
  text-transform: uppercase;
}
.task-card .bd .result {
  height: 24px;
  color: #ad3a37;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}
.task-card .bd .result .grade {
  vertical-align: bottom;
}
.task-card.finish:hover .mask,
.task-card.failed:hover .mask {
  z-index: 40;
  visibility: visible;
  opacity: 1;
  background: rgba(228, 228, 228, 0.9);
}
.task-card.finish:hover .mask .icon,
.task-card.failed:hover .mask .icon {
  display: none;
}
.task-card.active {
  border-color: #d65554;
}
.task-card.active:hover .mask {
  z-index: 40;
  visibility: visible;
  opacity: 1;
  background: rgba(228, 228, 228, 0.9);
}
.task-card.active:hover .mask .btn-def:hover {
  color: #fff;
}
.task-card.active .hd {
  background-color: #d65554;
  color: #fff;
}
.task-card.active .hd span {
  color: #fff;
}
.task-card.active .tag {
  display: none;
}
.task-card.active .result {
  color: #d65554;
}
.task-card.active a,
.task-card.active a:hover {
  color: #666;
  text-decoration: none;
}
.task-card.lock-special {
  border-color: #d65554;
}
.task-card.lock-special .hd {
  background-color: #d65554;
  color: #fff;
}
.task-card.lock-special .hd span {
  color: #fff;
}
.task-card.lock .mask {
  z-index: 40;
  visibility: visible;
  opacity: 1;
  background-color: #fff;
}
.grade {
  position: relative;
  z-index: 10;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
.grade .star {
  margin: 0 5px;
  vertical-align: top;
  -webkit-transition: width 0.3s linear;
  -moz-transition: width 0.3s linear;
  transition: width 0.3s linear;
}
/* clearfix */
.clearfix:after,
#header:after,
.lesson-header .navdis:after,
.lesson-card > .layout-inner:after,
.lesson-card .lc-main .hd:after,
.lesson-card .link-wrap:after,
.lesson-card .overview > .layout-inner:after,
.lesson-card .overview .content-wrap:after,
.crumb ul:after {
  display: table;
  clear: both;
  content: " ";
}
.icon,
.grade .star {
  background-image: url("../images/element.png");
  background-size: 200px 200px;
}
.trs-3s {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.wrap {
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
}
.wrap:after {
  display: table;
  clear: both;
  content: " ";
}
.wrapper {
  width: 100%;
  min-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
#container {
  min-width: 1000px;
}
/* 提示信息样式 */
#warning {
  position: fixed;
  top: -40px;
  left: 50%;
  z-index: 60000;
  opacity: 0;
  padding: 4px 20px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}
.waring-success {
  background: #35b558;
}
.waring-failure {
  background: #ff5c00;
}
.waring-sub {
  background: #2d85ca;
}
.crumb {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
}
.crumb li {
  float: left;
  margin-right: 5px;
  color: #999;
  font-size: 12px;
  line-height: 18px;
}
.crumb li > i {
  margin-right: 5px;
  font-family: simsun;
}
.crumb li a {
  color: #999;
}
.crumb li a:hover {
  color: #356558;
}
.loading {
  padding: 100px 0;
}
.loading .text {
  padding-top: 5px;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  color: #666;
}
.spinner {
  margin: 0 auto;
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}
.spinner div {
  float: left;
  height: 100%;
  width: 6px;
  margin: 0 2px;
  background-color: #35b558;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner div.rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner div.rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.spinner div.rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner div.rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
#header .loginbox_event {
  position: relative;
}
.canvas-wrap {
  position: relative;
}
.showtime {
  position: relative;
}
.showtime .showtimemask {
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}
.showtime .red {
  background-color: rgba(255, 209, 209, 0.85);
  color: #d65554;
}
.showtime .blue {
  background-color: rgba(198, 230, 255, 0.85);
  color: #2d85ca;
}
.showtime .green {
  background-color: rgba(204, 255, 218, 0.85);
  color: #35b558;
}
.showtime .big {
  left: 11px;
  top: 11px;
  width: 108px;
  height: 108px;
  font-size: 15px ;
  line-height: 100px;
}
.showtime .small {
  left: 25px;
  bottom: 14px;
  width: 80px;
  height: 80px;
  font-size: 12px ;
  line-height: 80px;
}
